/*.pyc
/node_modules
/firebase-debug.log
/microservices/service-account-credentials.json
/frontend/firebase-config.json
/.firebaserc
/public/bundle.js
*.map
frontend/actionCreators.js
frontend/actions.js
frontend/asyncActions.js
frontend/ClientApp.js
frontend/reducers.js
frontend/Routes.js
frontend/ServerApp.js
/public/bundle.css
/public/fonts
frontend/App.js
frontend/firebaseTools.js
frontend/components/About.js
frontend/components/FirebaseAuth.js
frontend/components/HomeFeed.js
frontend/components/Layout.js
frontend/components/NewPost.js
frontend/components/RecentPostsFeed.js
frontend/components/SinglePost.js
frontend/components/SplashPage.js
UserProfile.js
